.video {
    position: relative;
    height: 0;
    padding: 30px 0 56.25%;
    overflow: hidden;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#mainphoto {
    width: 480px;
    height: 360px;
    padding: 0;
    margin: 0px auto;
    position: relative;  /*---基点とします。---*/
    /* border: 5px solid #CCC; */
    
  }
  /*---img 要素---*/
  #mainphoto img {
    position: absolute;  /*---絶対配置します---*/
    top: 0;
    left: 0;
  }
  /*---写真のタイトルを表示する p 要素---*/
  /* p#title {
    position: absolute;
    z-index: 10;
    bottom: 10px;
    right: 30px;
    font-size: 11px;
    color: #FFF;  
  } */
   
  /*---表示する写真を記述しておく ul 要素---*/
  #photolist {
    display: none;
  }

  /* ここからコントロールの追加 */
  #icons_wrapper {
    position: relative;
    width: 480px;
    height: 80px;
    margin: auto;
  }
  #icons {
    width: 20px;
    margin: 0 auto;
  }
  .icon {
    display: inline-block;
    background-color: #FFF;
    width: 8px;
    height: 8px;
    margin:5px 5px -20px 10px;
    cursor: pointer;
    border: 1px solid #999;
    border-radius: 5px;
  }
  .icon.icon_selected {
    background-color: #666;
    cursor: default;
  }
  .icon.icon_hover {
    border: 1px solid #666;
    background-color: #CCC;
  }
  #start {
    display: none;
    cursor: pointer;
    color: #999;
    position: absolute;
    top: 5px;
    left: 350px;
  }